$base_path: '../../fonts/';

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
	font-display: swap;
  src: local(''),
       url('#{$base_path}ubuntu/ubuntu-v15-latin-regular.woff2') format('woff2'),
       url('#{$base_path}ubuntu/ubuntu-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
	font-display: swap;
  src: local(''),
       url('#{$base_path}ubuntu/ubuntu-v15-latin-500.woff2') format('woff2'), 
       url('#{$base_path}ubuntu/ubuntu-v15-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
	font-display: swap;
  src: local(''),
       url('#{$base_path}ubuntu/ubuntu-v15-latin-700.woff2') format('woff2'),
       url('#{$base_path}ubuntu/ubuntu-v15-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
	font-display: swap;
  src: local(''),
       url('#{$base_path}arvo/arvo-v14-latin-700.woff2') format('woff2'),
       url('#{$base_path}arvo/arvo-v14-latin-700.woff') format('woff'); 
}